.query-results {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.query-results h2 {
    margin-bottom: 20px;
}

.query-results ul {
    list-style-type: none;
    padding: 0;
}

.query-results ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.query-results ul li p {
    margin: 0;
}
